.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.statusImg{
   border-radius: 50%;
  width: 120px;
  height: 120px;
  float :right;
  
 
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .card-group {
    max-height:20px;
  }
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .dayDetails{
    display: none;
    height: 10px;
  }
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .card{
    margin-top: 10px;
    display: inline;
  }
  .statusImg{
    display: none;
  }
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .card-title, .card-text{
   height: 7px;
   text-align: center;
   margin-right: 10px;
   margin-top: 5px;
  }}
  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .card-title{
  
     margin-top: 0px;
    }}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .card-img-top{
    height: 70px;
    display: inline;
    float: left;

  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
